{{ define "header" }}{{ partials.Include "page-header.html" . }}{{ end }}
{{ define "main" }}
  <div class="flex-l mt2 mw8 center">
    <article class="center cf pv5 ph3 ph4-ns mw7">
      <header>
        <h1 class="f1">
          {{ .Title }}
        </h1>
      </header>
      <div class="nested-copy-line-height lh-copy f4 nested-links {{ $.Param "text_color" | compare.Default "mid-gray" }}">
        {{ .Content }}
      </div>
      <div class="row">
        <script src="https://giscus.app/client.js"
          data-repo="kkkumtree/kkkumtree.github.io"
          data-repo-id="R_kgDOPS_Xiw"
          data-category="Announcements"
          data-category-id="DIC_kwDOPS_Xi84Ctbi1"
          data-mapping="pathname"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="bottom"
          data-theme="light"
          data-lang="ko"
          crossorigin="anonymous"
          async>
        </script>
      </div>
    </article>
  </div>
{{ end }}
